---
import MapLayout from '../layouts/MapLayout.astro';
import { getCollection } from 'astro:content';

import '../styles/spot-guides.css';
import spotGuidesScript from '../scripts/spot-guides.js?url';

const spots = await getCollection('spots');
---

<MapLayout title="Spots - Surf Deeper" description="Discover surf spots with maps, local insights, tide charts, and hazards contributed by the community.">
  <div id="map"></div>
</MapLayout>

 

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin="" defer></script>

<script
  type="application/json"
  id="spots-data"
  set:html={JSON.stringify(spots.map((s) => ({
    title: s.data.title,
    description: s.data.description || '',
    latitude: s.data.latitude,
    longitude: s.data.longitude,
    slug: s.slug,
  })))}
></script>
<script src={spotGuidesScript} defer></script>


